@import url('https://fonts.googleapis.com/css2?family=Baloo+Bhai+2:wght@400..800&family=Potta+One&family=Roboto:ital,wght@0,100..900;1,100..900&family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&family=Varela+Round&display=swap');

* {
    margin: 0;
    padding: 0;
}

.sidebar {
    background-color: rgb(172, 165, 165);
    position: absolute;
    font-family: "Roboto", sans-serif;
    height: 100vh;
    transition: transform 0.3s ease-in;
}

.sidebar nav {
    padding: 42px;
}

.sidebar nav li {
    list-style: none;
    font-size: 20px;
    padding: 30px 0;
    cursor: pointer;
}

.sidebar nav li a {
    text-decoration: none;
    color: black;
}

.main {
    /* background-color: yellow; */
    width: 90vw;
}

.container {
    display: flex;
}

.infoContainer {
    /* background-color: re d; */
    width: 80vw;
    margin: 70px auto;
    height: 58vh;
    display: flex;
    justify-content: space-around;
}

.devInfo {
    display: flex;
    justify-content: center;
    flex-direction: column;
    font-family: "Source Code Pro", monospace;
}

.hello {
    font-size: 3em;
}

.name {
    font-size: 3em;
    font-weight: bold;
    font-family: "Roboto", sans-serif;
}

.about {
    font-size: 2.5em;
}

.buttons {
    margin-top: 2.5em;
}

.btn {
    cursor: pointer;
    padding: 9px 14px;
    color: white;
    background-color: dodgerblue;
    font-weight: bold;
    font-size: 1em;
    border-radius: 22px;
    margin: 0 3px;
    transition: ease-in-out;
}

.btn:hover {

    color: dodgerblue;
    background-color: white;

}

.moreabout {
    font-size: 19px;
    font-family: "Roboto", sans-serif;
    margin-top: 23px;
}

.devPic img {
    height: 58vh;
}

.contactform {
    padding: 0 34px;
    padding-top: 44px;
    font-family: "Roboto", sans-serif;
    margin: 0 88px;
}

.contactform h1 {
    font-family: "Source Code Pro", monospace;
    padding: 12px 0;
}

.contactform form div {
    padding: 16px 0;
    display: flex;
    flex-direction: column;
}

.contactform form div input {
    width: 26vw;
    border-radius: 5px;
    margin: 6px 0 0 0;
    padding: 3px;
}

#emailHelp {
    font-size: 11px;
    color: midnightblue;
    margin: 0 5px;
    margin-top: 3px 0 0 0;
}

#form-check {
    flex-direction: row;
}

#form-check input {
    width: 24px;
    margin: 3px 0;
}

.blogItem {
    margin: 20px;
    font-family: "Roboto", sans-serif;
}

.blogContainer {
    margin: 60px;
}

h1 {
    margin: 23px;
    font-family: "Roboto", sans-serif;
}

p {
    margin: 20px;
    font-family: "Source Code Pro", monospace;
}

.intro {
    margin: 88px;
}

.intro h2 {
    font-family: "Roboto", sans-serif;
    margin: 12px 12px;
}

.intro p {
    font-family: "Source Code Pro", monospace;
    margin: 12px;
}

.skillContainer {
    padding: 12px;
}

.skillItem {
    display: flex;
    align-items: center;
    font-family: "Source Code Pro", monospace;
}

.skill {
    width: 265px;
    height: 6px;
    background-color: red;
    border: 2px solid black;
    border-radius: 5px;
}

.hundred {
    width: 265px;
    background-color: blueviolet;
}

.fifty {
    width: 125px;
    background-color: green;
}

.t5 {
    width: 75px;
    background-color: black;
}

.sidebarGo {
    transform: translate(-443px, 0px);
    position: absolute;
}

.hamburger {
    position: absolute;
    cursor: pointer;
    top: 10px;
    left: 10px;
}

.cross {
    margin-left: 120px;
}

@media (max-width: 1200px) {

    .devPic {
        display: none;
    }

    .intro,
    .blogContainer,
    .contactform {
        margin: 8px;
    }

}